.header-content{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 15px;
    align-items: center;
    margin-right: 25px;
}
.header-content a{
 list-style: none;
 text-decoration: none;
 color: white;
}
.img{
    width: 35px;
    height: 35px;
}

